requests
python-dotenv
uvicorn
gunicorn
opentelemetry-instrumentation-fastapi
fastapi
pydantic
typing
datetime
pymongo
numpy
pandas
torch
sklearn
pathlib
contextvars
fastparquet
datamodel-code-generator
