setuptools
python-dotenv
pydantic
uvicorn[standard]
gunicorn
brotli-asgi
fastapi==0.90.1
fastapi-utils
jaeger_client
prometheus_client
rq
redis
typing
datetime
pysolr
yapf
pylint
pymongo
#ControllerUI
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-auth
oauthlib
cachecontrol
#Push notifications
py-vapid
cryptography
pywebpush